*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/transmogrifier
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
devsrc-migration/
include/
lib/
lib64
pip-selfcheck.json
