!src/transmogrifier
*.egg-info
*.log
*.mo
*.pyc
*.swp
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
devsrc-migration/
htmlcov/
include/
lib/
lib64
log.html
output.xml
parts/
pip-selfcheck.json
report.html
var/
